<app-header></app-header>

<div class="row">
    <div class="col-sm-12">
        <span class="form-inline lang">
            <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
                <option *ngFor="let language of translate.getLangs()" [value]="language"
                    [selected]="language === translate.currentLang">
                    {{ language }}
                </option>
            </select>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 mx-auto">
        <div class="card">
            {{'lorem' | translate }}
        </div>
    </div>
</div>