<nav class="navbar navbar-expand-md">
  <a class="navbar-brand text-white" href="javascript:void(0)">{{'logo' | translate }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="clickEvent()"   data-target="#collapsibleNavbar">
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="status ? 'show' : ''" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link text-white" [routerLink]="['/camera']" [routerLinkActive]="['active']" href="javascript:void(0)">{{'cameras' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/report']" [routerLinkActive]="['active']" href="javascript:void(0)">{{'reporting' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/settings']" [routerLinkActive]="['active']" href="javascript:void(0)">{{'settings' | translate }}</a>
      </li>    
    </ul>
    <ul class="ml-auto navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)">Mr. John Smith</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="javascript:void(0)" (click)="logout()"><i class="fa fa-sign-out"></i></a>
      </li>
    </ul>
  </div>  
</nav>