<app-header></app-header>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <span class="form-inline lang">
                <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
                    <option *ngFor="let language of translate.getLangs()" [value]="language"
                        [selected]="language === translate.currentLang">
                        {{ language }}
                    </option>
                </select>
            </span>
        </div>
    </div>
    <br>    

    <strong>{{'cameraOne' | translate }}</strong>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3" *ngFor="let camera of cameraOne">
            <div class="card">
                <div class="card-body">
                    <img src="./../../../assets/img/{{camera.img}}" width="100%">
                </div>
                <div [class.card-footer-pass]="camera.result === 'pass'" [class.card-footer-fail]="camera.result == 'fail'">
                    <i [ngClass]="getClass(camera.result)"  style="font-size:24px"></i> <span class="img-result"><strong>{{camera.result | titlecase }}</strong> </span>
                </div>
            </div>
        </div>
    </div>
    <strong>{{'cameraTwo' | translate }}</strong>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3" *ngFor="let camera of cameraTwo">
            <div class="card">
                <div class="card-body">
                    <img src="./../../../assets/img/{{camera.img}}" width="100%">
                </div>
                <div [class.card-footer-pass]="camera.result === 'pass'" [class.card-footer-fail]="camera.result == 'fail'">
                    <i class="fa fa-thumbs-up" style="font-size:24px"></i> <span class="img-result"><strong>{{camera.result | titlecase }}</strong> </span>
                </div>
            </div>
        </div>
    </div>
</div>